/* *{
    background: blue;
}

#memoryGame{
    border: 5px solid black;
    width: 400px;
    height: 400px;
    background: green;
  }
  
  div{
      border: 2px solid black;
      width: 20%;
      height: 20%;
    background: blue;
      float: left;
      margin: 8px;
  } */
