/* *{  */
    background: blue;
}

/* #memoryGame{
    border: 5px solid black;
    width: 400px;
    height: 400px;
    background: green;
  }
  
  div{
      border: 2px solid black;
      width: 20%;
      height: 20%;
    background: blue;
      float: left;
      margin: 8px;
  } */
.HTML{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    text-align: center;
}

td{
    display: table-cell;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

tr{
    border: 2px solid black;
    text-align: center;
    margin: 5%;
    
} 

table{
    border: 2px solid black;
    width: 800px;
    height: 800px;
}

#score{
    margin: 50px;
}

